/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
python/model_data/yolo.h5
.mvn
target
*.iws
*.iml
*.ipr
*.class

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/python/model_data/yolo.h5
src/main/resources/static/image/
